body {
    font-family: 'Seoge UI', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #00796b;
}

form button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #004d40;
}
weather-info {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
.forecast {
  margin-top: 30px;
}

.forecast-day {
  background-color: #f1f8e9;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}
